/* *,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI';
    background-color: white;
    color: black;
    margin: 1rem;
}

a img {
    border-image-width: 30px;
}

header {
    background-color: white;
    padding: 1rem;
    font-size: x-small;
    width: fit-content;
}

header.div {
    font-size: x-small;
}
header.nav.ul {
    color: black;
    position: relative;
    width: fit-content;
}


main section.Home img {
    margin: 1rem auto;
    width: 100%;
    object-fit: contain;
}

main img {
    height: 300;
}

.mundo_bowls {
    width: 1000px;
    margin: 0 auto 0 auto;
    display: inline-block;
}
.natureza_pots {
    width: 1000px;
    margin: 0 auto 0 auto;
    display: inline-block;
}
.container {
    position: relative;
}

.text-block {
    position: absolute;
    font-size: x-large;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-right {
    position: absolute;
    font-size: x-large;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.about_us {
    display: block;
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 60%;
}
.image_about {
    width: 300px;
}