/* *,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI';
    background-color: white;
    color: black;
    margin: 1rem;
}

nav.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.nav-links {
    color: black;
}

ul.title-image {
    margin-top: 0rem;
    font-size: medium;
}

ul.search-cart {
    margin-top: .5rem;
    margin-right: 4rem;
}

.logo-image {
    height: 20px;
    width: 20px;
}

main h1 {
    margin-left: 4rem;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.about-us {
    grid-row-start: 1;
    grid-column-start: span 2;
}

.second-para {
    grid-column-start: 2 span 3 span 4;
    grid-row-start: 2 span 3;
}

.flower-vase {
    grid-column-start: 1;
    grid-row-start: 2 span 3;
}

.vase-photo {
    grid-row-start: 1 span 4;
    grid-column-start: 4;
   
}

.container2 {
    margin-left: 5rem;
}

main h2 {
    margin-left: 4rem;
    font-size: large;
}
div.products {
    display: inline-block;
    margin-top: 4rem;
    margin-left: 3rem;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 30px;
    column-gap: 50px;
}

.mundow_row img {
    flex: 33.33%;
    padding: 5px;
}
.mundow_row {
    text-align: left;  
    width: 33.33%;
    margin: 0 auto 0 auto;  
}

.natureza_pots {
    width: 1000px;
    margin: 0 auto 0 auto;
    display: inline-block;
}

main h3 {
    margin-left: 4rem;
    font-size: large;
}

.contact {
    float: center;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: x-small;
}

.contact input {
    float: right;
    background-color: #bf7631;
    color: #ffffff;
    font-size: x-small; 
    border: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 3px 15px;
}

textarea {
    display: block;
    width: 100%;
    overflow: hidden;
}

.text-area2 {
    min-height: 120px;
}

label {
    text-align: left;
}
.text-block {
    position: absolute;
    float: center;
    font-size: x-large;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-right {
    position: absolute;
    float: center;
    font-size: x-large;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}



footer {
    background-color: #bf7631;
    margin-top: 8rem;
    width: 0 auto;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


